body {
	color: #333;
	background: #fff;
	margin: 0;
	line-height: 140%;
	font-size: 100%;
	font-family: "ff-meta-serif-web-pro-1", "ff-meta-serif-web-pro-2", georgia, serif;
}

h1, h2, h3, h4 {
	font-family: "futura-pt-1","futura-pt-2",helvetica,arial,sans-serif;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
/*	letter-spacing: -.05em;*/
	color: #444;
	margin: .5em 0;
}

h1 a, h2 a, h3 a, h4 a {
	text-decoration: none;
}

h2 {
	font-size: 160%;
	margin: 0 0 .25em 0;
}

h3 {
	font-size: 120%;
	margin: 1.5em 0 .5em 0;
}

h4 {
	font-size: 110%;
	margin: 1.5em 0 .25em 0;
}

p {
	margin: 0 0 1em 0;
}

a {
	color: #369;
	text-decoration: underline;
}

a:visited {
	color: #666;
}

a:hover {
	color: #390;
}

form {
	margin: 0;
}

img {
	border: 0;
}

hr {
	margin: 0;
	padding: 0;
	border: 0;
	border-bottom: solid #ccc 1px;
}

code {
/*	font-size: 12px;*/
	font-family: menlo, inconsolata, monaco, monospace;
}

pre {
	font-size: 12px;
	font-family: menlo, inconsolata, monaco, monospace;
	background: #eee;
	padding: 1em;
	overflow: auto;
}

blockquote {
	font-size: 90%;
	line-height: 140%;
	border-left: dotted #999 1px;
	margin-left: 1em;
	padding-left: 1em;
	color: #666;
}

.box {
	width: 740px;
	margin: 0 auto;
}

#content {
	width: 520px;
	margin: 20px 0;
	padding: 0;
	float: left;
}

#sidebar {
	width: 120px;
	padding: 0;
	float: right;
	margin: 2em 0 0 0;
	color: #666;
	font-size: 70%;
	line-height: 140%;
}

#header {
	margin: 0 auto;
	padding: 2.5em 0 2em 0;
	color: #555;
	border-bottom: solid #999 1px;
}

#content img {
	margin: 1em 0;
}

#footer {
	border-top: solid #999 1px;
	padding: 2em 0 1em 0;
	color: #666;
	clear: both;
	font-size: 80%;
}

#footer a {
	color: #369;
	text-decoration: none;
}

#sidebar a {
	color: #369;
	text-decoration: none;
}

#sidebar a:hover {
	color: #390;
}

#sidebar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#sidebar li {
	margin: 0 0 .5em 0;
}

.byline {
	font-family: "futura-pt-1","futura-pt-2",helvetica,arial,sans-serif;
	font-weight: 500;
	font-style: normal;
	text-transform: uppercase;
	margin: 0 0 1em 0;
	font-size: 80%;
	color: #666;
}

.byline a {
	text-decoration: none;
}

#enkoder_form input[type=text] {
	width: 300px;
}

#nav {
	font-size: 120%;
	margin: 0 0 2.5em 0;
	font-family: "futura-pt-1","futura-pt-2",helvetica,arial,sans-serif;
	font-weight: 500;
	font-style: normal;
	text-transform: uppercase;
}

#the-deck {
	margin: 0 0 3em 0;
}

#the-deck img {
	margin: 0 0 .5em 0;
}

#the-deck-text {
	margin: 0;
}

p.mini-text {
	font-family: "futura-pt-1","futura-pt-2",helvetica,arial,sans-serif;
	font-weight: 500;
	font-style: normal;
	text-transform: uppercase;
	margin: 0 0 .5em 0;
}

#authentic-jobs {
	font-size: 11px;
	line-height: 1.4em;
	margin: 5px 0 40px 0;
	line-height: 1.4em;
}

#authentic-jobs br.break {
	height: 0;
	line-height: 0;
}

#authentic-sign {
	margin: 0 0 8px 0;
}

#authentic-jobs ul {
	list-style-type: circle;
	margin: 0 0 10px 0;
}

#authentic-jobs li {
	margin: 0 0 5px 15px;
}

#authentic-desc {
	padding: 7px 0 0 0;
	line-height: 1.3em;
}

#authentic-jobs #jobs {
	clear: both;
	padding: 0;
	margin: 0;
}

#authentic-jobs p {
	text-align: left;
	padding: 0px 5px 0 0;
}

.hide {
	display: none;
}

.article {
	border-bottom: solid 1px #ccc;
	padding: 1.5em 0 1em 0;
}

.intro {
	border-bottom: solid 1px #999;
	padding-bottom: .25em;
	margin-bottom: 1.5em;
}
.photo_credit {
	margin-top: -10px;	
	text-align: right;
	font-size: 10px;
}
